* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(246, 239, 239);
}
nav {
  width: 100vw;

  height: 4rem;
  background: rgb(238, 5, 5);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
> div a {
  margin: 4px;
}
