* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(93, 165, 185);
}
nav {
  width: 100vw;
  height: 4rem;
  background: orange;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
> div a {
  margin: 4px;
}
